header{
    background: #eee;
    height:100vh;
    background-size: cover;
    background-position:center ;
    
}


.Header{
    position: absolute;
    width: inherit;
    top:40%;
    left:30%
}

    .myName{
    font-size: 45px;
    font-weight:700;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 9px;
}

.Header p{
    font-size: 20px;
    color: #5d5d5d ;
    padding-top: 15px;
}


.SocialIcon{
    margin-top: 60px;
}

.Header div SocialMediaIconsReact{
    justify-content: space-between;
}

img{
    position: absolute;
    height: 115%;
    width:38%;
    left:55%;
    background-size: cover;
    background-position:center ;
   
}